alive-progress==3.3.0
astropy==7.2.0
Cartopy==0.25.0
cdasws==1.8.12
cmasher==1.9.2
configparser==7.2.0
dash==3.3.0
dash-bootstrap-components==2.0.4
Flask-Caching==2.3.1
h5py==3.15.1
jupyterlab==4.5.0
matplotlib==3.10.7
pandas==2.3.3
progressbar==2.5
pytplot-mpl-temp==2.2.73
PyQt5==5.15.11
PyQtWebEngine==5.15.7
pyspedas==2.0.5
pytest==9.0.2
slack_sdk==3.39.0
spacepy==0.7.0
sphinx-rtd-theme==3.0.2
sphinxcontrib-autoprogram==0.1.9
sunpy==7.1.0
gfz_api_client==0.1.0
supermag_api==0.0.6