alive_progress
astropy
cartopy
cdasws
cmasher
configparser
dash
dash_bootstrap_components
flask_caching
h5py
jupyterlab
matplotlib
pandas
progressbar
pyqt5
pyqtwebengine
pyspedas
pytest
slack_sdk
spacepy
sphinx-rtd-theme
sphinxcontrib-autoprogram
sunpy
gfz-api-client
supermag-api
